@import '../../styles/_variables';

.item {
  background: $itemYellow;
  border: 1px solid $lightGray;
  box-shadow: $lightGray 3px 0 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: border 150ms;
  margin-bottom: 10px;
  margin-right: 5%;  
  &:hover {
      border-color: $darkGray;
  }
}
